body{
    margin: 0%;
    padding: 0%;
    background-color: black;
    overflow-x: hidden;
}
.container-fluid{
    padding: 1%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}
.lenz-logo{
    height: 80%;
    width: fit-content;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lenz-logo img{
    height: 100%;
    width: auto;
    object-fit: cover;
}

#navbarNav{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-nav{
    height: 60px;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
}
.nav-item{
    border-style: none;
    min-width: fit-content;
    height: fit-content;
    margin-right: 2%;
    margin-left: 2%;
    padding-top: .5%;
    padding-bottom: .5%;
    padding-right: 3%;
    padding-left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item a{
    text-decoration: none;
    font-size:x-large;
    font-weight: 500;
    color: #030351;
}