body{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.navbar-mobile{
    background-color: #ffffff !important;
}

.navbar-mobile a{
    width: 30vw;
}
.navbar-mobile img{
    width: 100%;
}


h1{
    margin-top: 4vh;
}

@media (min-width:750px){
    .container-fluid{
        padding: 1%;
        height: 15vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
    }
    .lenz-logo{
        height: 80%;
        width: fit-content;
        overflow:hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .lenz-logo img{
        height: 100%;
        width: auto;
        object-fit: cover;
    }
    
    #navbarNav{
        width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar-nav{
        height: 60px;
        padding: 0%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        list-style: none;
    }
    .nav-item{
        border-style: none;
        min-width: fit-content;
        height: fit-content;
        margin-right: 2%;
        margin-left: 2%;
        padding-top: .5%;
        padding-bottom: .5%;
        padding-right: 3%;
        padding-left: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-item a{
        text-decoration: none;
        font-size:x-large;
        font-weight: 500;
        color: #030351;
    }
        /* FIN NAV  */
}

.div-carousel{
    width: 100vw;
}

#carouselExampleSlidesOnly{
    height: 100%;
    width: 100%;
}

.carousel-item{
    width: 100vw;
}

.div-contenido-carousel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;    
}

.div-imagen-carousel{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.div-imagen-carousel img{
    width: 100%;
    object-fit: contain;
}


/* Main */

.main{
    width: 100vw;
    height:fit-content;
}


.div-que-hacemos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.div-logo{
    width: 100vw;
    overflow: hidden;
}
.div-logo img{
    width: 10vw;
    object-fit: contain;
}

.div-que-hacemos h3{
    color: #12145b;
}
.btn-whatsapp{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 4vh;
    width: 45vw;
    text-decoration: none;
    background-color: #041157;
}
.btn-whatsapp:hover{
    background-color: #eb6a00;
}
.btn-whatsapp p{
    font-size: 100%;
    font-weight: 600;
    color: #ffffff;
    margin: 2vw;
}
.div-logo-whatsapp{
    overflow: hidden;
    width: 15%;
}
.div-logo-whatsapp img{
    object-fit: contain;
    width: 100%;

}

@media(min-width:750px){
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .div-que-hacemos{
        height: 60vh;
        width: 60vw;
    }
    .div-que-hacemos h3{
        font-size: xx-large;
    }
    .div-que-hacemos p{
        font-size: x-large;
        font-weight: 400;
    }
    .btn-whatsapp{
        height: 5vh;
        padding-right: 2%;
        padding-left: 2%;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-whatsapp p{
       font-size: x-large; 
    }
    .div-logo-whatsapp{
        height: 85%;
        width: auto;
        overflow: hidden;
    }
    .div-logo-whatsapp img{
        object-fit: contain;
        height: 100%;
        width: auto;
    }
}


.div-portada-intermedia{
    width: 100%;
    height: fit-content;
    overflow: hidden;
}
.div-portada-intermedia img{
    width: 100%;
    object-fit: contain;
}


/* Visita Instagram */
.div-visita-ig{
    border-top: 12px solid black;
    /* margin-top: 5vh; */
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-visita-ig p{
    color: #12145b;
    font-weight: 600;
    font-size: large;
}

.div-ig{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.div-visita-ig label{
    font-weight: 500;
    font-size: large;
}

.div-ig a{
    width: 5%;
    margin-left: 2vw;
}

.div-visita-ig img{
    width: 100%;
}



/* Footer */
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    max-height: fit-content;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .footer-links li {
    margin: 0;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
