body{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.navbar-mobile{
    background-color: rgb(255, 255, 255) !important;
}

.navbar-mobile a{
    width: 30vw;
}
.navbar-mobile img{
    width: 100%;
}

@media (min-width:750px){
    .container-fluid{
        padding: 1%;
        width: 100vw;
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
    }
    .lenz-logo{
        height: 80%;
        width: 10%;
        overflow:hidden;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .lenz-logo img{
        height: 100%;
        width: auto;
        object-fit: cover;
    }
    
    #navbarNav{
        width: 40%;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .navbar-nav{  
        height: 60px;
        padding: 0%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        width: 100%;
        list-style: none;
    }
    .nav-item{
        border-style: none;
        min-width: fit-content;
        height: fit-content;
        margin-right: 2%;
        margin-left: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-item a{
        width: 100%;
        text-decoration: none;
        font-size:x-large;
        font-weight: 500;
        color: #030351;
    }
}



h2{
    margin-top: 4vh;
    margin-left: 20vw;
    font-size: xx-large;
    text-align: start;
    color: #000;
}

.div-accesos-directos{
    height:  fit-content;
    border: 2px solid red;
}

.div-accesos-directos *{
    position: relative;
    z-index: 1;
}


.div-accesos-directos::before{
     content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  opacity: 0;
  transition: opacity 1s ease;
  z-index: 0;
    background:linear-gradient(to top,rgb(208, 201, 246),rgb(255, 255, 255));
}
.div-accesos-directos:hover::before{
    opacity: 1;
}



.contact-icon p{
    height: 10px;
    color: black;
}

.div-mapa{
    padding-top: 1%;
    background-color: rgb(3, 2, 42);
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-mapa h3{
    font-size: xx-large;
    color: #ffffff;
}

#zona-operacion{
    height: 60vh;
    width:90vw;
}

.div-contact-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 20vw;
    margin-right: 20vw; */
    padding: 2%;
    padding-left: 30vw;
    padding-right: 30vw;
    height: 40vh;
}

.contact-icon{
    height: 40%;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.contact-icon:hover{
    transform: scale(1.3);
    cursor: pointer;
}

.contact-icon img{
    width: 100%;
    height: 100%;
}



.grid-contacto{
    margin:5vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 90vw;
}

.grid-contacto li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 1vh;
    margin-bottom: 2vh;
    border-top:1px solid black;
}

.campo-contacto{    
    display: flex;
    width: 100%;
    height: fit-content;
}

.valor-contacto, .campo-contacto p{
    font-size: x-large;
}
.email{
    font-size: large;
}
.icono-contacto{
    width: 10%;
    overflow: hidden;
}

.icono-contacto img{
    width: 100%;
    object-fit: contain;
}
