body{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
}

#mensaje-escritorio{
    display: none;
    width: 100vw;
    height: 100vh;
    background-color:#0b0d41;
}
#mensaje-escritorio p{
    color: #ffffff;
    font-size: 5vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
#mensaje-escritorio .logo{
    width: 30vw;
    height: fit-content;
    overflow: hidden;
}
#mensaje-escritorio .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (min-width:750px){
    #mensaje-escritorio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navbar{
        display: none;
    }
    .main-mobile{
        display: none;
    }
}

.navbar-mobile{
    background-color: #ffffff !important;
}

.navbar-mobile a{
    width: 30vw;
}
.navbar-mobile img{
    width: 100%;
}


.div-carousel{
    width: 100vw;
}

#carouselExampleSlidesOnly{
    height: 100%;
    width: 100%;
}

.carousel-item{
    width: 100vw;
}

.div-contenido-carousel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;    
}

.div-imagen-carousel{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.div-imagen-carousel img{
    width: 100%;
    object-fit: contain;
}


/* Main */
.div-item{
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 100vw;
    height: fit-content;
}

.div-item img{
    width: 100%;
    object-fit: contain;
}

.main{
    width: 100vw;
    height:fit-content;
}


.div-que-hacemos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.div-logo{
    width: 100vw;
    overflow: hidden;
}
.div-logo img{
    width: 10vw;
    /* height: 10vw;*/
    object-fit: contain;
}

.div-que-hacemos h3{
    color: #12145b;
}


.div-portada-intermedia{
    width: 100%;
    height: fit-content;
    overflow: hidden;
}
.div-portada-intermedia img{
    width: 100%;
    object-fit: contain;
}


/* Visita Instagram */
.div-visita-ig{
    border-top: 12px solid black;
    /* margin-top: 5vh; */
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-visita-ig p{
    color: #12145b;
    font-weight: 600;
    font-size: large;
}

.div-ig{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.div-visita-ig label{
    font-weight: 500;
    font-size: large;
}

.div-ig a{
    width: 5%;
    margin-left: 2vw;
}

.div-visita-ig img{
    width: 100%;
}



/* Footer */
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    max-height: fit-content;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .footer-links li {
    margin: 0;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
